ul {
	list-style-type: none;
}
li {
	height: 40px;
	line-height: 40px;
	background-color: azure;
	margin-top: 5px;
	padding-left: 15px;
}

li:hover {
	background-color: aqua;
}

.wrapper button {
	color: red;
	float: right;
	margin-top: 2px;
	width: 60px;
}

.hidden {
	opacity: 0;
}

input {
	width: 30%;
}
